.alertCard {
  background-color: rgb(85, 85, 85);
  width: 90%;
  margin: auto;
  margin-top: 0.75rem;
  color: white;
}

.alertCol {
  align-self: center;
}

.alertText {
  margin-left: 1rem;
  padding: 0.25rem;
}

.alertDismiss {
  margin: 0.25rem;
}
